label {
  font-size: 12px;
}

.button-primary {
  border-radius: 4px;
  font-size: 12px;

  background-color: #b2bdfc;
}

.button-primary:enabled:hover {
  background-color: #cfd6fd;
}

.button-success {
  font-size: 16px;
  border-radius: 8px;

  color: #ffffff;
  background-color: #4561fa;

  min-width: 128px;
  height: 36px;
}

.button-success:enabled:hover {
  background-color: #8798f8;
}

.button-danger {
  font-size: 16px;
  border-radius: 8px;

  color: #ffffff;
  background-color: #fa4545;

  min-width: 128px;
  height: 36px;
}

.button-danger:enabled:hover {
  background-color: #f88787;
}

table th {
  background-color: #b9fdc2;
  text-align: center;
}

table,
table th,
table td {

  border: 1px solid black;
  border-collapse: collapse;

  padding: 4px;

  font-size: 12px;
}

.error-message-area {
  background-color: #f8efd1;

  border-style: solid;
  border-color: #ff0000;
  border-width: 1px;

  font-size: 12px;
  color: #ff0000;
}

.error-field {
  background-color: #f87272;
}