<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>機器詳細</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link th:href="@{/css/detail.css}" rel="stylesheet" />
  <script th:src="@{/js/common/MessageUtil.js}"></script>
  <script th:src="@{/js/common/FormUtil.js}"></script>
  <script th:src="@{/js/common/AjaxUtil.js}"></script>

</head>
<body>
  <div class="background" th:object="${form}">
    <h1>機器</h1>
    <form id="form">
      <div>
	    <label for="deviceNo">資産番号</label>
		<input type="text" th:field="*{deviceNo}" th:if="*{deviceNo == null}">
		<span th:if="*{deviceNo != null}" >
	        <input type="text" th:value="*{deviceNo}" disabled="disabled">
	        <input type="hidden" th:field="*{deviceNo}">
        </span>
      </div>
	  <div>
		<label for="maker">メーカー</label>
	    <input type="text" th:field="*{maker}">
	  </div>
	  <div>
		<label for="os">OS</label>
	    <input type="text" th:field="*{os}">
      </div>
      <div>
	    <label for="memory">メモリ</label>
	    <input type="text" th:field="*{memory}">
      </div>
      <div>
        <label for="capacity">容量</label>
        <input type="text" th:field="*{capacity}">
      </div>
      <div>
	    <label for="graphicBoard">グラフィックボード</label>
	    <input type="text" th:field="*{graphicBoard}">
      </div>
      <div>
        <label for="storageLocate">保管場所</label>
        <input type="text" th:field="*{storageLocate}">
      </div>
      <div>
        <label for="broken">故障</label>
      </div>
        <label>
        <input type="radio"  id="flag" name="broken" th:checked="*{broken}" value="true"></input>
        故障中
        <input type="radio"  id="flag" name="broken" th:checked="*{!broken}" value="false"></input>
        故障中でない
        </label><br>
      <div>
        <label for="remarks">備考</label>
        <input type="text" th:field="*{remarks}">
	  <label for="leaseFlag">貸出中</label>
      </div>
      <label id="leaseFlag">
        <input type="radio"  id="flag" name="leaseFlag" th:checked="*{leaseFlag}" value="true"></input>
        貸出中
        <input type="radio"  id="flag" name="leaseFlag" th:checked="*{!leaseFlag}" value="false"></input>
        貸出中でない
      </label><br>
      <div>
	    <label for="leaseStartDate">貸出開始日</label>
	    <input type="text" th:field="*{leaseStartDate}">
      </div>
      <div>
        <label for="leaseDeadlineDate">貸出期限日</label>
        <input type="text" th:field="*{leaseDeadlineDate}">
      </div>
      <div>
        <label for="leaseEmployeeNo">貸出社員番号</label>
        <input type="text" th:field="*{leaseEmployeeNo}">
      </div>
      <div>
        <label for="inventoryDate">棚卸日</label>
        <input type="text" th:field="*{inventoryDate}">
      </div>
      <div>
        <label for="registerDate">登録日</label>
        <label th:text="*{registerDate}"></label>
      </div>
      <div>
        <label for="updateDate">更新日</label>
        <label th:text="*{updateDate}"></label>
      </div>
    </form>
    <div style="text-align: center;">
    <button type="button" id="registerButton" class="button-success" th:if="*{deviceNo == null}">登録</button>
        <span th:if="*{deviceNo != null}" >
            <input type="hidden">
        </span>
    <button type="button" id="updateButton" class="button-primary" th:if="*{deviceNo != null}">更新</button>
        <span th:if="*{deviceNo == null}" >
            <input type="hidden">
        </span>
    <button type="button" id="deleteButton" class="button-danger" th:if="*{deviceNo != null}">削除</button>
        <span th:if="*{deviceNo == null}" >
            <input type="hidden">
        </span>
    </div>
  </div>
  <script th:src="@{/js/deviceDetail.js}"></script>
</body>
</html>