<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>機器一覧</title>

<link th:href="@{/css/deviceList.css}" rel="stylesheet" />
<!--<script th:src="@{/js/common/listFilter.js}"></script>-->

</head>
<body>
  <div class="background">
    <br class="brank">
    <div class="header">
      <div>
        <button type="button" onclick="location.href='/Device/LeaseList'" class="button-lease">貸出一覧</button>
        <button type="button" onclick="location.href='/Device/DeviceList'" class="button-lease">機器一覧</button>
        <button type="button" onclick="location.href='/User/UserList'" class="button-lease">ユーザ一覧</button>
     </div>
    </div>
    <h1>機器一覧</h1>
    <div th:object="${form}">
      <button type="button" onclick="location.href='/Device/DeviceList/register'" class="button-success">新規登録</button>
      <input type="text" id="searchInput" placeholder="キーワードで検索">
      <table id="table" class="table_design03">
        <thead>
          <tr class="sticky">
            <th>
              資産番号
            </th>
            <th>
              メーカー
            </th>
            <th>
              OS
            </th>
            <th>
              メモリ
            </th>
            <th>
              保管場所
            </th>
            <th>
              故障
            </th>
            <th>
              貸出中
            </th>
            <th>
            　　貸出日
            </th>
            <th>
              期限日
            </th>
            <th>
              詳細
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="device :*{deviceList}" id="tr">
            <td th:text="${device.deviceNo}"></td>
            <td th:text="${device.maker}"></td>
            <td th:text="${device.os}"></td>
            <td th:text="${device.memory}"></td>
            <td th:text="${device.storageLocate}"></td>
            <td th:text="${device.broken}"></td>
            <td th:text="${device.leaseFlag}"></td>
            <td th:text="${device.leaseStartDate}"></td>
            <td th:text="${device.leaseDeadlineDate}"></td>
            <td>
            <button type="button" th:attr="onclick='location.href=\'/Device/DeviceDetail/edit?deviceNo=' + ${device.deviceNo} + '\''" class="button-primary">詳細</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>