<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出返却</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link th:href="@{/css/detail.css}" rel="stylesheet" />
  <script th:src="@{/js/common/MessageUtil.js}"></script>
  <script th:src="@{/js/common/FormUtil.js}"></script>
  <script th:src="@{/js/common/AjaxUtil.js}"></script>

</head>
<body>
　　<div class="background">
    <h1>機器</h1>
    <form id="form" th:object="${form}">
      <div>
        <label for="deviceNo">資産番号</label>
        <input type="text" th:field="*{deviceNo}" disabled="disabled">
      </div>
      <div>
        <label for="leaseEmployeeNo">貸出社員番号</label>
        <input type="text" th:field="*{leaseEmployeeNo}">
      </div>
      <div>
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}">
      </div>
      <div>
        <label for="leaseStartDate">貸出日</label>
        <input type="text" th:field="*{leaseStartDate}">
      </div>
      <div>
        <label for="leaseDeadlineDate">期限日</label>
        <input type="text" th:field="*{leaseDeadlineDate}">
      </div>
    </form>
    <button type="button" id="leaseButton" class="button-success">貸出</button>
    <button type="button" id="returnButton" class="button-danger">返却</button>
    
  <script th:src="@{/js/leaseDetail.js}"></script>
  </div>
</body>
</html>