<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出一覧</title>
<link th:href="@{/css/leaseList.css}" rel="stylesheet" />
</head>
<body>
  <div class="background">
    <br class="brank">
    <div class="header">
      <div>
        <button type="button" onclick="location.href='/Device/LeaseList'" class="button-lease">貸出一覧</button>
        <button type="button" onclick="location.href='/Device/DeviceList'" class="button-lease">機器一覧</button>
        <button type="button" onclick="location.href='/User/UserList'" class="button-lease">ユーザ一覧</button>
     </div>
    </div>
    <h1>貸出一覧</h1>
    <div th:object="${form}">
	  <table class="table_design03">
	    <thead>
	      <tr class="sticky">
	        <th>
	          資産番号
	        </th>
	        <th>
	          使用者社員番号
	        </th>
	        <th>
              氏名
            </th>
	        <th>
	          貸出中
	        </th>
	        <th>
	        　　貸出日
	        </th>
	        <th>
	       　　　期限日
	        </th>
	        <th>
	        　　棚卸日
	       　</th>
	       　<th>
	       　　　備考
	       　</th>
	       　<th>
              　詳細
            </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="device :*{leaseList}">
	        <td th:text="${device.deviceNo}"></td>
	        <td th:text="${device.leaseEmployeeNo}"></td>
	        <td th:text="${device.name}"></td>
	        <td th:text="${device.leaseFlag}"></td>
	        <td th:text="${device.leaseStartDate}"></td>
	        <td th:text="${device.leaseDeadlineDate}"></td>
	        <td th:text="${device.inventoryDate}"></td>
	        <td th:text="${device.remarks}"></td>
	        <td>
	        <button type="button" th:attr="onclick='location.href=\'/Device/LeaseDetail/edit?deviceNo=' + ${device.deviceNo} + '\''" class="btn-update update">詳細</button>
	        </td>
	      </tr>
	    </tbody>
	  </table>
    </div>
  </div>
</body>
</html>