<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link th:href="@{/css/detail.css}" rel="stylesheet" />
  <script th:src="@{/js/common/MessageUtil.js}"></script>
  <script th:src="@{/js/common/FormUtil.js}"></script>
  <script th:src="@{/js/common/AjaxUtil.js}"></script>
  
</head>
<body>
  <div class="background">
  　　<h1>ユーザ</h1>
    <form th:object="${form}">
      <div>
        <label for="employeeNo">社員番号</label>
        <input type="text" th:field="*{employeeNo}" th:if="*{employeeNo == null}">
        <span th:if="*{employeeNo != null}">
            <input type="text" th:value="*{employeeNo}" disabled="disabled">
            <input type="hidden" id="employeeNo" th:field="*{employeeNo}">
        </span>
        <label for="name">氏名</label>
        <input type="text" th:field="*{name}">
      </div>
      <div>
        <label for="nameKana">氏名カタカナ</label>
        <input type="text" th:field="*{nameKana}">
        <label for="department">所属部署</label>
        <input type="text" th:field="*{department}">
      </div>
      <div>
        <label for="age">年齢</label>
        <input type="text" th:field="*{age}">
        <label for="gender">性別</label>
        <label>
        <input type="radio"  id="flag" name="gender" th:checked="*{gender == '0'}"></input>
        男性
        <input type="radio"  id="flag" name="gender" th:checked="*{gender == '1'}"></input>
        女性
        <input type="radio"  id="flag" name="gender" th:checked="*{gender == '2'}"></input>
        その他
        </label>
      </div>
      <div>
        <label for="telNo">電話番号</label>
        <input type="text" th:field="*{telNo}">
        <label for="mailAdress">メールアドレス</label>
        <input type="text" th:field="*{mailAdress}">
      
      </div>
      <div>
        <label for="position">役職</label>
        <input type="text" th:field="*{position}">
        <label for="retireDate">退職日</label>
        <input type="text" th:field="*{retireDate}">
      </div>
      <div>
        <label for="updateDate">更新日</label>
        <label th:text="*{updateDate}"></label>
        <label for="registerDate">登録日</label>
        <label th:text="*{registerDate}"></label>
      </div>
    </form>
    <button type="button" id="registerButton" class="button-success registerHidden">登録</button>
    <button type="button" id="updateButton" class="button-primary editHidden">更新</button>
    <button type="button" id="deleteButton" class="button-danger deleteHidden">削除</button>

  <script th:src="@{/js/userDetail.js}"></script>

  </div>
</body>
</html>