<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ一覧</title>

<link th:href="@{/css/userList.css}" rel="stylesheet" />
<script th:src="@{/js/common/listFilter.js}"></script>

</head>
<body>
  <div class="background">
    <br class="brank">
    <div class="header">
      <div>
        <button type="button" onclick="location.href='/Device/LeaseList'" class="button-lease">貸出一覧</button>
        <button type="button" onclick="location.href='/Device/DeviceList'" class="button-lease">機器一覧</button>
        <button type="button" onclick="location.href='/User/UserList'" class="button-lease">ユーザ一覧</button>
     </div>
    </div>
  <h1>ユーザ一覧</h1>
　　<div th:object="${form}">
    <button type="button" onclick="location.href='/User/UserList/register'" class="button-success">新規登録</button>
      <table class="table_design03">
        <thead>
          <tr class="sticky">
            <th>
              社員番号
            </th>
            <th>
              氏名
            </th>
            <th>
              氏名(カタカナ)
            </th>
            <th>
              所属部署
            </th>
            <th>
            　　電話番号
            </th>
            <th>
              メールアドレス
            </th>
            <th>
              年齢
            </th>
            <th>
            　　性別
            </th>
            <th>
              役職
            </th>
            <th>
              PCアカウント権限
            </th>
            <th>
              退職日
            </th>
            <th>
              登録日
            </th>
            <th>
              更新日
            </th>
            <th>
              詳細
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user :*{userList}">
            <td th:text="${user.employeeNo}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.nameKana}"></td>
            <td th:text="${user.department}"></td>
            <td th:text="${user.telNo}"></td>
            <td th:text="${user.mailAdress}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.position}"></td>
            <td th:text="${user.accountLevel}"></td>
            <td th:text="${user.retireDate}"></td>
            <td th:text="${user.registerDate}"></td>
            <td th:text="${user.updateDate}"></td>
            <td>
            <button type="button" th:attr="onclick='location.href=\'/User/UserList/edit?employeeNo=' + ${user.employeeNo} + '\''" class="button-primary">詳細</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>